.page {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 250px 1fr 700px 2fr;
}



@media (max-width: 750px) {
    .page {
        grid-template-columns: 1px 1fr 90vw 1fr;
    }
}


@media (min-width: 750px) and (max-width: 1050px) {
    .page {
        grid-template-columns: 1px 1fr 700px 1fr ;
    }
}

.sideBar {
    display: flex;
    position:fixed;
    flex: 0 0 250px;
    top:60px;
    left: 0px;
    height: 100%;
    width: fit-content;
}

.bar {
    display: flex;
    column-gap: 15px;
    font-weight: 500;
}

.notifications {
    border-bottom: solid 3px rgb(0, 69, 172);
    display: flex;
    align-items: center;
}

.messages {
    color: rgb(87,111,118);
    cursor: pointer;
    display: flex;
    align-items: center;
}

.pageContent {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    grid-column: 3 / 4;
}

.pageTitle {
    font-size: 1.75rem;
    font-weight: 600;
    margin-bottom: 40px;
}

.markRead {
    display: flex;
    margin-left: auto;
    padding-right: 10px;
    border-right: solid 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.settings {
    cursor: pointer;
    padding-right: 5px;
}

.notificationsFeed {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    font-size: 16px;
}

.messagesNumber {
    display: flex;
    border-radius: 50%;
    background-color:rgb(255, 69, 0);
    color: white;
    align-self: center;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    font-size: 0.75rem;
}