
.position {
    width: 100%;
    box-sizing: border-box;
}

.queueArea {
    width: fit-content;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.areaSize {
    width: 640px;
    margin: 0 auto;
    padding-top: 24px !important;
    position: relative;
}

.header {
    margin-bottom: 0.5rem;
}

.headerText {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.5rem;
}

.headerOptions {
    overflow: auto;
    display: flex;
    margin-top: 0.75rem;
}

.headerOptionsItem {
    color: #576f76;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 2rem;
    cursor: pointer;
    margin-right: 1rem;
    background-color: transparent;
    border-color: transparent;
}

.headerOptionsItem:hover {  
    background-color: #d2dadd28;
    transition: background-color 0.1s ease;
}

.headerOptionsItem:active {
    background-color: #d2dadd86;
    padding:-20px;
    transition: padding 0.1s ease;
}

.selected {
    background-color: #d2dadd !important;
    color: #0f1a1c;
}

.sortBarSize {
    height: 40px;
}

.sortBarFlex {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    align-items: center;
}

.filterBarBorder {
    border-radius: 4px;
    border: 1px solid #ccc;
}

.filterBarStyle {
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    background-color: rgb(255,255,255,0.8);
    color: #878a8c;
    display: -ms-flexbox;
    display: flex;
    height: 32px;
    margin-bottom: 5px;
    padding: 2px;
    position: relative;
}

.filterBarBox {
    -ms-flex-align: center;
    align-items: center;
    border-right: 1px solid #edeff1;
    cursor: pointer;
    display: -ms-flexbox;
    display: flex;
    padding: 0 2px 0 6px;
}

.checkboxFilter {
    height: 20px;
    width: 20px;
    background: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
    padding: initial;
}

.icon {
    font-size: 20px;
    font-weight: 400;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    width: 20px;
    fill: #878a8c;
}


.nextBar {
    border-top: 1px solid #edeff1;
    margin-bottom: 60px;
}

.nextBarBorder {
    border: 1px solid #edeff1;
    border-radius: 4px;
}

.nextBarFlex {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    align-items: center;
    justify-content: flex-end;
}

.nextBarStyle {
    background-color: #ffffff;
    border-radius: 0 0 4px 4px;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin: 0;
    padding: 2px;
}

.nextButton {
    cursor: default;
    position: relative;
    border: 1px solid transparent;
    color: #0079d3;
    fill: #0079d3;
    line-height: 16px;
    padding: 8px 16px 8px 0;
    cursor: pointer;
    position: relative;
    border: 1px solid transparent;
    font-family: Noto Sans, Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: unset;
    line-height: 17px;
    text-transform: unset;
    min-height: 32px;
    min-width: 32px;
    padding: 4px 16px;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 9999px;
    box-sizing: border-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    text-align: center;
    width: auto;
    cursor: auto;
    opacity: .3;
}